input, label {
  margin: 5px 5px;
}

.form-group {
  display: block;
  width: 450px;
  margin-left: 150px;
  margin-top: 100px;
}
.form-group button{
  display: block;
  margin: auto;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 50%;
}

#inputZip {
  width: 50%;
}

#inputCounty {
  width: 50%;
}

#inputCountry {
  width: 50%;
}
