#rate0, #rate{
    display: inline;
}
.rateUs{
    text-align: center;
    margin-left: 20%;
}

.ro.center {
    justify-content: center;
  }

  .commentSec{
    border: 2px solid black;  
    display: flex;
    text-align: center;
    margin: 5px;
      flex-direction: row;
  }


  .commentSec div{
      
      margin: 10px;
  }