.main {
    background-color: rgb(255, 255, 255) ;
}
.customer,.storeOwner{
    text-align: center;
    border: black solid 0.25px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}


.main input{
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.main {
    background-image: url("https://mdbootstrap.com/img/new/textures/full/171.jpg");
   }

.container1{
    margin-top: 5%;
}